{% extends "layot/layot.html.twig" %}

{% block title %}МОТОРНЫЕ МАСЛА{% endblock %}

{% block content %}
    <div class="page-header header-filter header-small" data-parallax="false" style="background-image: url('https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/city-profile.jpg');">
        <!--    <div class="container">-->
        <!--      <div class="row">-->
        <!--        <div class="col-md-8 ml-auto mr-auto text-center">-->
        <!--          <div class="brand">-->
        <!--            <h1 class="title">Petro-Canada</h1>-->
        <!--            <h4>Free global delivery for all products. Use coupon-->
        <!--              <b>25summer</b> for an extra 25% Off</h4>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </div>-->
    </div>
    <!-- carousel Begin -->
    <div class="section" id="carousel">
        <div class="container">
            <div class="row">
                <div class="col ">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/globus.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/items1.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/globus.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- carousel End -->
    <!-- Advantages section Begin -->
    <!-- Advantages section Begin -->
    <div class="section">
        <div class="container">
            <div class="features text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-success">
                                <i class="material-icons">verified_user</i>
                            </div>
                            <h4 class="info-title">Отличное соотношение - цена/качество</h4>
                            <p class="lead">самые чистые в мире базовые маса - степень очистки 99,9%</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">thumb_up</i>
                            </div>
                            <h4 class="info-title">Защита от подделки</h4>
                            <br>
                            <p class="lead">прямая поставка с завода в Канаде</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-primary">
                                <i class="material-icons">update</i>
                            </div>
                            <h4 class="info-title">Покупка в кредит и рассрочку</h4>
                            <br>
                            <p class="lead">выгодные условия<br> от банка-партнера - Kaspi.kz<br> и простота оформления</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-warning">
                                <i class="material-icons">format_color_fill</i>
                            </div>
                            <h4 class="info-title">Бесплатная замена<br>(доступна в Алматы)</h4>
                            <p class="lead">квалифицированный персонал - гарантия качества</p>
                            <small>* доступно в г.в Алматы</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-dark">
                                <i class="material-icons">local_shipping</i>
                            </div>
                            <h4 class="info-title">Доставка по Казахстану</h4>
                            <br>
                            <p class="lead">около 30 филиалов в 17 городах РК </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-rose">
                                <i class="material-icons">wallet_giftcard</i>
                            </div>
                            <h4 class="info-title">Подарок </h4>
                            <br>
                            <p class="lead">Подарок при покупке масла 10%!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Advantages section End -->
    <!-- Advantages section End -->
    <hr>
    <!-- notice (auto.kz Pay) modal -->
    <div class="modal fade" id="autokzPay" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-notice" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Для покупки на auto.kz - необходимо пройти несложную регистрацию</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-8">
                                <strong>1. Что Вам даст регистрация:</strong>
                                <ul>
                                    <li>
                                        <p class="text-justify text-muted">Доступ к огромной базе запчастей со всего мира - по очень выгодным ценам</p>
                                    </li>
                                    <li>
                                        <p class="text-justify text-muted">Уникальный инструмент подбора запчастей для Вашего атомобился при помощи ителлектуального каталога с детальными схемами расположения запчасти и ее внешнего вида.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/part_find_tool_131x131.jpg" alt="Thumbnail Image" class="rounded img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="instruction">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <strong>2. Подарок <i class="material-icons icon-rose">card_giftcard</i></strong>
                                <p class="text-justify text-muted">С первой покупки масла Petro-Canada мы начислим Вам бонус в размере 10% от стоимости покупки.<br><br>
                                    Используйте промо-код:</p> <p class="h5 text-dark">PETRO-AUTOKZ</p><br>
                                <p class="font-italic">* Бонус будет доступен через 15 дней.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="picture">
                                    <img src="https://hb.bizmrg.com/auto.kz-static/oil/petro-canada/bg/10-percent_1.png" alt="Thumbnail Image" class="rounded img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <a href="https://www.auto.kz/leonet/registration/retail.php?DETAIL_NUM=" id='autokz_link' target="_blank"  class="btn btn-info btn-round"  role="button">Перейти к регистрации и покупке</a>
                </div>
            </div>
        </div>
    </div>
    <!-- notice (auto.kz Pay) modal end -->
    <!-- 1clickPay Modal -->
    <div class="modal fade" id="1clickPay" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="1clickpay_ajax"></div>
            </div>
        </div>
    </div>
    <!-- 1clickPay Modal -->
    <div class="modal fade" id="modal-pay-form" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="container rounded">

                        <iframe height="900" width="100%" id='pay-form' class="embed-responsive-item" src="" allowfullscreen></iframe>


                </div>


            </div>
            <!--/.Content-->

        </div>
    </div>
    <!--Modal: Name-->

    <!--  End 1clickPay Modal -->
    <div class="main main-raised" id="oilMotor">
        <div class="section">
            <div class="container">
                <h2 class="section-title">МОТОРНЫЕ МАСЛА ДЛЯ БЕНЗИНОВЫХ ДВИГАТЕЛЕЙ</h2>
                {% for oil_row in oil_engine_group %}
                <div class="row">
                    {% for oil in oil_row %}
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-header card-header-image">
                                    <img src="{{ oil.thumbnailImageUrl }}" alt="oil image">
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title">{{ oil.description}}</h4>
                                <div class="price-container">
                                    <span class="price price-old"> &#8376;{{ oil.price*1.1 }}</span>
                                    <span class="price price-new"> &nbsp;&nbsp;&nbsp;&#8376;{{ oil.price }}</span>
                                </div>
                            </div>
                            <!-- single BUY button - with 3 + 1 action -->
                            <div class="card-footer justify-content-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">shopping_cart</i>&nbsp;&nbsp;
                                        Купить
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#autokzPay" id="autokz_buy" article="{{ oil.article }}">
                                            <i class="material-icons icon icon-info">shopping_cart</i>Купить на auto.kz</a>

                                        {% if oil.kaspiLink!="" %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{{ oil.kaspiLink }}" target="_blank"><i class="material-icons icon icon-danger">shopping_cart</i>Купить на kaspi.kz</a>
                                        {% endif %}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#1clickPay"  id="show_clickbuy" article="{{ oil.article }}"><i class="material-icons icon icon-success">shopping_cart</i>Купить в 1 клик</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%  endfor  %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="main main-raised" id="oilTransmission">
        <div class="section">
            <div class="container">
                <h2 class="section-title">ТРАНСМИССИОННЫЕ МАСЛА</h2>
                {% for oil_row in oil_gear_group %}
                    <div class="row">
                        {% for oil in oil_row %}
                            <div class="col-md-4">
                                <div class="card card-product card-plain">
                                    <div class="card-header card-header-image">

                                        <img src="{{ oil.thumbnailImageUrl }}" alt="oil image">

                                    </div>
                                    <div class="card-body text-center">
                                        <h4 class="card-title">{{ oil.description}}</h4>
                                        <div class="price-container">
                                            <span class="price price-old"> &#8376;{{ oil.price*1.1 }}</span>
                                            <span class="price price-new"> &nbsp;&nbsp;&nbsp;&#8376;{{ oil.price }}</span>
                                        </div>
                                    </div>
                                    <!-- single BUY button - with 3 + 1 action -->
                                    <div class="card-footer justify-content-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">shopping_cart</i>&nbsp;&nbsp;
                                                Купить
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" data-toggle="modal" data-target="#autokzPay" id="autokz_buy" article="{{ oil.article }}">
                                                    <i class="material-icons icon icon-info">shopping_cart</i>Купить на auto.kz</a>

                                                {% if oil.kaspiLink!="" %}
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="{{ oil.kaspiLink }}" target="_blank"><i class="material-icons icon icon-danger">shopping_cart</i>Купить на kaspi.kz</a>
                                                {% endif %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" data-toggle="modal" data-target="#1clickPay"  id="show_clickbuy"  article="{{ oil.article }}" ><i class="material-icons icon icon-success">shopping_cart</i>Купить в 1 клик</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%  endfor  %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}